@media screen and (max-width: 1200px) {
  .menuToggle {
    display: block;
    position: relative;
    width: 40px;
    height: 40px;
    background: url("../img/open.png");
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
  }
  .menuToggle.active {
    background: url("../img/close.png");
    background-size: 35px;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
  }
  .logo {
    img {
      width: 75%;
      height: auto;
    }
  }
  .maxwidth {
    max-width: 90% !important;
    margin: 0 auto;
  }
  .full-video {
    .content-wrapper {
      .wrapper {
        display: block !important;
        padding: 0;
        
      }
    }
  }
  .slick-next.slick-arrow{
      display: none !important;
  }
}
h1 {
  display: block;
  justify-content: space-between;
}
body.myClass {
  overflow: hidden;
}
.myClass.active {
  overflow: hidden;
}

@media (max-width: 1200px) {
  .header-wrapper {
    position: relative;
    .menu {
      ul {
        display: block;
        height: 663px;
        width: 100%;
        text-align: center;
      }
    }
  }
  .menuToggle {
    display: block;
    position: absolute;
    width: 40px;
    top: 40px;
    right: 24px;
    height: 40px;
    background: url("../img/open.png");
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
  }
  .menuToggle.active {
    background: url("../img/close.png");
    background-size: 35px;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
  }
  .menu {
    display: none;
    ul {
      display: grid;
      width: 100vw;
      position: absolute;
      top: 6rem;
      left: 0;
      right: 0;
      background: black;
      height: 100vh;
      li {
        a {
          display: block;
        }
      }
    }
  }
  .tabData-flex{
    display: block;
    .right-contents{
      img{
        display: block !important;
      }
      
    }
  }
  .menu.active {
    display: block;
    display: grid;
    width: 100vw;
    position: absolute;
    top: 6rem;
    left: 0;
    right: 0;
    background: black;
    height: 100vh;
  }
  .contentss {
    display: block;
    margin-top: 0 !important;
    .right-contents {
      img {
        width: 100%;
        border-radius: 0 !important;
      }
    }
  }
  .main-container {
    max-width: 98%;
    .tabbing {
        max-width: 100%;
      ul.tabs {
        max-width: 100% !important;
      }
    }
  }
  .maxwidth {
    max-width: 90% !important;
    margin: 0 auto;
  }
  .full-video {
    .content-wrapper {
      .wrapper {
        display: block !important;
      }
    }
  }
}













@media (max-width: 675px) {
  .tabs {
    display: block;
  }
  .maxwidth {
    max-width: 90% !important;
    margin: 0 auto;
  }
  .content-wrapper {
    .wrapper {
      display: block;
      display: block;
    }
  }
  .logo-brands {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 25px;
  }
  .upper-links {
    display: block;
    text-align: center;
  }
  .foot-1 {
    .location {
      display: block;
    }
  }
  .foot-2 {
    display: block;
    text-align: center;
    .copyright {
      text-align: center;
      justify-content: center;
      display: flex;
    }
    .developer {
      p {
        text-align: center;
        justify-content: center;
        display: flex;
      }
    }
  }
  .caption-wrapper {
    display: block;
    .black {
      border-radius: none;
    }
  }
  .white {
    .secondary-btn {
      bottom: -64px;
    }
  }
  .black {
    border-radius: none !important;
  }
  .full-video {
    .content-wrapper {
      .wrapper {
        display: block !important;
      }
    }
  }
}
@media (max-width: 993px) {
  .caption {
    .banner-heading {
      font-size: 22px;
    }
  }
  .maxwidth {
    max-width: 90% !important;
    margin: 0 auto;
  }
  .contentss {
    .right-contents {
      display: block !important;
      img {
        display: block;
      }
    }
  }
  .full-video {
    .content-wrapper {
      .wrapper {
        display: block !important;
      }
    }
  }
}
@media (min-width: 319) {
  .video-content {
    display: grid;
    grid-template-columns: 1fr;
    video {
      width: 100% !important;
    }
  }
  .maxwidth {
    max-width: 90% !important;
    margin: 0 auto;
  }
  
}
